.widget-header {
  background: $dark;
  color: $pearl-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}

.widget {
  background: $light-blue;
  // padding: $m-size;
}

.widget__message {
  margin: 0;
  padding: $l-size;
  text-align: center;
  color: $pearl-white;
  border-bottom: 1px solid lighten($light-blue, 10%); 
}