// colors
$shadow-lg: 0 1rem 3rem rgba(50, 146, 166, 0.175) !important;
$pearl-white: #fff;
$gray: #343a40;
$dark-blue: #333745;
$dark: #333;
$light-blue: #464b5e;

// spacing
$s-size: .500rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
